<html>
  <head>
    <title>LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <u><h1>Login:</h1></u>
      <br>
      <form action="" method="post">
        {% if user %}
          <p class="user" style="color: red;">{{ user }}</p>
        {% endif %}
        Username: &nbsp;
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}" />
          <br><br>
        {% if pwd %}
          <p class="pwd" style="color: red;">{{ pwd }}</p>
        {% endif %}
        Password: &nbsp;
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" />
          <br><br>
        {% if error %}
          <p class="error" style="color: red;">{{ error }}</p>
        {% endif %}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        <input class="btn btn-default" type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>